<div class="main">
	<div class="content">
		<div class="pageTitle">
			<h2>Others</h2>
		</div>

		<!--start icons-->
		<div class="article">
			<h3 class="mb-30">Status Badge</h3>
			<p class="font-sm">Here are described the three types of status badges with their respective classes.</p>
			<div class="row example contentBorder mb-30">

				<!--start status pendind-->
				<span class="itemStatus">
					<i class="blue"></i>
					<span class="uppercase">PENDING</span>
            	</span>
				<!--end status pendind-->

				<!--start status in progress-->
				<span class="itemStatus">
					<i class="green"></i>
					<span class="uppercase">IN PROGRESS</span>
				</span>
				<!--end status in progress-->

				<!--start status done-->
				<span class="itemStatus">
					<i class="red"></i>
					<span class="uppercase">DONE</span>
            	</span>
				<!--end status done-->

			</div>
			<pre><code #code1 class="html">&lt;!--start status pendind--&gt;<br />&lt;span class="itemStatus"&gt;<br />   &lt;i class="blue"&gt;&lt;/i&gt;<br />   &lt;span class="uppercase"&gt;PENDING&lt;/span&gt;<br />&lt;/span&gt;<br />&lt;!--end status pendind--&gt;<br /><br />&lt;!--start status in progress--&gt;<br />&lt;span class="itemStatus"&gt;<br />   &lt;i class="green"&gt;&lt;/i&gt;<br />   &lt;span class="uppercase"&gt;IN PROGRESS&lt;/span&gt;<br />&lt;/span&gt;<br />&lt;!--end status in progress--&gt;<br /><br />&lt;!--start status done--&gt;<br />&lt;span class="itemStatus"&gt;<br />   &lt;i class="red"&gt;&lt;/i&gt;<br />   &lt;span class="uppercase"&gt;DONE&lt;/span&gt;<br />&lt;/span&gt;<br />&lt;!--end status done--&gt;</code></pre>
		</div>
		<!--end icons-->
	</div>
</div>
