<div class="main">
	<div class="content">
		<div class="pageTitle">
			<h2>Typography</h2>
		</div>

		<!--start Headings-->
		<div class="article">
			<h3 class="mb-30">Headings</h3>
			<p class="font-sm">Headings are defined with the <code class="tag">&lt;h1&gt;</code> to <code class="tag">&lt;h6&gt;</code> tags.
				<code class="tag">&lt;h1&gt;</code> defines the most important heading. <code class="tag">&lt;h6&gt;</code> defines the least important heading. You need to add the respective tags only, no classes are needed.</p>
			<div class="example contentBorder mb-30">
				<h1>This is an h1 Heading 30px</h1>
				<h2>This is an h2 Heading 24px</h2>
				<h3>This is an h3 Heading 20px</h3>
				<h4>This is an h4 Heading 18px</h4>
				<h5>This is an h5 Heading 16px</h5>
				<h6>This is an h6 Heading 14px</h6>
			</div>
			<pre><code #code1 class="html">&lt;h1&gt;This is an h1 Heading&lt;/h1&gt;<br />&lt;h2&gt;This is an h2 Heading&lt;/h2&gt;<br />&lt;h3&gt;This is an h3 Heading&lt;/h3&gt;<br />&lt;h4&gt;This is an h4 Heading&lt;/h4&gt;<br />&lt;h5&gt;This is an h5 Heading&lt;/h5&gt;<br />&lt;h6&gt;This is an h6 Heading&lt;/h6&gt;</code></pre>
		</div>
		<!--end Headings-->

		<!--start Paragraphs-->
		<div class="article">
			<h3 class="mb-30">Paragraphs</h3>
			<p class="font-sm">Paragraphs are defined with <code class="tag">&lt;p&gt;</code> tag.
				There are different sizes of paragraphs which are defined by respective classes from <code class="class">font-xs</code> to <code class="class">font-xxxl</code>.</p>
			<div class="example contentBorder mb-30">
				<p class="font-xxxl">This is a paragraph. 28px</p>
				<p class="font-xxl">This is a paragraph. 24px</p>
				<p class="font-xl">This is a paragraph. 22px</p>
				<p class="font-lg">This is a paragraph. 20px</p>
				<p class="font-md">This is a paragraph. 18px</p>
				<p class="font-normal">This is a paragraph. 16px</p>
				<p class="font-sm">This is a paragraph. 14px</p>
				<p class="font-xs">This is a paragraph. 12px</p>
			</div>
			<pre><code #code5 class="html">&lt;p class="font-xxxl"&gt;This is a paragraph.&lt;/p&gt;<br />&lt;p class="font-xxl"&gt;This is a paragraph.&lt;/p&gt;<br />&lt;p class="font-xl"&gt;This is a paragraph.&lt;/p&gt;<br />&lt;p class="font-lg"&gt;This is a paragraph.&lt;/p&gt;<br />&lt;p class="font-md"&gt;This is a paragraph.&lt;/p&gt;<br />&lt;p class="font-normal"&gt;This is a paragraph.&lt;/p&gt;<br />&lt;p class="font-sm"&gt;This is a paragraph.&lt;/p&gt;<br />&lt;p class="font-xs"&gt;This is a paragraph.&lt;/p&gt;</code></pre>
		</div>
		<!--end Paragraphs-->

		<!--start text colors-->
		<div class="article" id="textColor">
			<h3 class="mb-30">Text colors</h3>
			<p class="font-sm">To color the texts in paragraphs/headings/icons/hyperlinks you need to use the following classes.</p>
			<div class="example contentBorder mb-30 font-lg">
				<p class="text-dark">This text is dark.</p>
				<p class="text-grey">This text is grey.</p>
				<p class="text-red">This text is red.</p>
				<p class="text-green">This text is green.</p>
				<p class="text-blue">This text is blue.</p>
			</div>
			<pre><code #code6 class="html">&lt;p class="text-dark"&gt;This text is dark.&lt;/p&gt;<br />&lt;p class="text-grey"&gt;This text is grey.&lt;/p&gt;<br />&lt;p class="text-red"&gt;This text is red.&lt;/p&gt;<br />&lt;p class="text-green"&gt;This text is green.&lt;/p&gt;<br />&lt;p class="text-blue"&gt;This text is blue.&lt;/p&gt;<br />&lt;p class="text-blue"&gt;This text is white.&lt;/p&gt;</code></pre>
		</div>
		<!--end text colors-->

		<!--start text alignment-->
		<div class="article">
			<h3 class="mb-30">Text alignment</h3>
			<p class="font-sm">You can align the text using the respective class.</p>
			<div class="example noMaxWidth contentBorder mb-30 font-lg">
				<p class="text-left">This is a left aligned text.</p>
				<p class="text-center">This is a centered aligned text.</p>
				<p class="text-right">This is a right aligned text.</p>
			</div>
			<pre><code #code7 class="html">&lt;p class="text-left"&gt;This is a left aligned text&lt;/p&gt;<br />&lt;p class="text-center"&gt;This is a centered aligned text&lt;/p&gt;<br />&lt;p class="text-right"&gt;This is a right aligned text&lt;/p&gt;</code></pre>
		</div>
		<!--end text alignment-->

		<!--start Text transform-->
		<div class="article last-child">
			<h3 class="mb-30">Text transform</h3>
			<p class="font-sm">You can transform the text in components with text capitalization classes.</p>
			<div class="example contentBorder mb-30 font-lg">
				<p class="lowercase">lowercased text.</p>
				<p class="uppercase">uppercased text.</p>
				<p class="capitalize">capitalized text.</p>
			</div>
			<pre><code #code8 class="html">&lt;p class="lowercase"&gt;lowercased text.&lt;/p&gt;<br />&lt;p class="uppercase"&gt;uppercased text.&lt;/p&gt;<br />&lt;p class="capitalize"&gt;capitalized text.&lt;/p&gt;</code></pre>
		</div>
		<!--end Text transform-->

	</div>
</div>
