<div class="main">
	<div class="content">
		<div class="pageTitle">
			<h2>Grid System</h2>
		</div>

		<!--start Grid sizes-->
		<div class="article">
			<h3 class="mb-30">Grid Sizes</h3>
			<p class="font-sm">Grid system allows up to 12 columns across the page.<br>
				If you do not want to use all 12 columns individually, you can group the columns together to create
				wider columns. To create columns you need to add <code class="class">row</code> class to the parent element and from <code class="class">col-1</code> to <code class="class">col-12</code> classes to child elements. The sum of child element col classes should not exceed 12.  </p>
			<div class="contentBorder example">
				<div class="example-col">
					<div class="row">
						<div class="col-12">col-12</div>
					</div>
				</div>
				<div class="example-col">
					<div class="row">
						<div class="col-1">col-1</div>
						<div class="col-11">col-11</div>
					</div>
				</div>
				<div class="example-col">
					<div class="row">
						<div class="col-2">col-2</div>
						<div class="col-10">col-10</div>
					</div>
				</div>
				<div class="example-col">
					<div class="row">
						<div class="col-3">col-3</div>
						<div class="col-9">col-9</div>
					</div>
				</div>
				<div class="example-col">
					<div class="row">
						<div class="col-4">col-4</div>
						<div class="col-8">col-8</div>
					</div>
				</div>
				<div class="example-col">
					<div class="row">
						<div class="col-5">col-5</div>
						<div class="col-7">col-7</div>
					</div>
				</div>
				<div class="example-col">
					<div class="row">
						<div class="col-6">col-6</div>
						<div class="col-6">col-6</div>
					</div>
				</div>
			</div>
		</div>
		<!--start Grid sizes-->

		<!--start example-->
		<div class="article last-child">
			<h3 class="mb-30">Example</h3>
			<div class="example-col">
				<div class="row">
					<div class="col-4">col-4</div>
					<div class="col-4">col-4</div>
					<div class="col-4">col-4</div>
				</div>
			</div>
			<pre><code #code4 class="html">&lt;div class="row"&gt;<br />    &lt;div class="col-4"&gt;col-4&lt;/div&gt;<br />    &lt;div class="col-4"&gt;col-4&lt;/div&gt;<br />    &lt;div class="col-4"&gt;col-4&lt;/div&gt;<br />&lt;/div&gt;</code></pre>
		</div>
		<!--end example-->


	</div>
</div>
