<div class="main">
  <div class="content">
    <div class="pageTitle">
      <h2>Get Started</h2>
    </div>

    <div class="article">
      <p class="font-sm">A Pattern Library and code standards document is a way of ensuring brand and code consistency. By maintaining all of a website's primary elements on a single page, this Pattern Library will guide to see how modular components can be reused, as well as how the elements should be used in order to create the needed attributes and effects. It also serves as a curated, archival collection for design and UX/UI decisions made during the course of the site's development - creating a code base that can resist arbitrary decisions since a predefined choice presents itself. <br/>So, this pattern library is a UI/UX style guide that provides pattern documentation for designers, developers, and web producers creating new websites.</p>
    </div>

    <div class="article">
      <h3 class="mb-30">Authoring</h3>
      <p class="font-sm">The following programs are required for authoring the pattern-library:</p>
      <ul class="listStyle">
        <li><a href="https://git-scm.com/downloads" target="_blank" class="link">git</a> (the Github app might be easier to use if you're not familier with using a command line)</li>
        <li><a href="https://nodejs.org/en/download/" target="_blank" class="link">nodejs</a></li>
        <li>xcode (for macs) - download from the app store</li>
        <li>An editor e.g. <a href="https://atom.io/" target="_blank" class="link">Atom</a></li>
        <li>A browser e.g. <a href="http://www.google.com/chrome/" target="_blank" class="link">Chrome</a></li>
      </ul>
    </div>

    <div class="article">
      <h3 class="mb-30">Installation</h3>
      <p class="font-sm">To use the elements described in this Pattern Library for your projects you need to download and link the following CSS file.</p>
      <ol class="listStyle1">
        <li>git clone https://github.com/stdevteam/pattern.git </li>
        <li>cd pattern (Go to the project directory)</li>
        <li>npm install</li>
      </ol>
      <ul class="listStyle1">
        <li><span class="w-600">To launch the local server</span></li>
        <li>4. ng serve --open</li>
      </ul>
      <ul class="listStyle1">
        <li><span class="w-600">For production deployment</span></li>
        <li>4. ng build</li>
        <li>5. Set document root to  <i class="italic">./dist/index.html</i></li>
      </ul>
      <!-- <p class="font-sm"><span class="w-700">Note</span>: You'll need to have an account on <a href="https://www.npmjs.com/">npmjs.com</a> and be authorised to access packages.</p> -->

      <h3 class="mb-30">CSS</h3>
      <p class="font-sm">To use the elements described in this Pattern Library for your projects you need to <a href="/assets/lib-styles.rar" class="link">download</a> our source and link the CSS file.</p>
      <p class="font-sm">Paste the stylesheet <span class="italic">&lt;link&gt;</span> into your <span class="italic">&lt;head&gt;</span> before all other stylesheets to load our CSS.</p>
        <div class="italic">
            <span>&lt;link</span>
            <span>rel=</span>
            <span>"stylesheet"</span>
            <span>href=</span>
            <span>"/path/to/lib-styles/style.css"</span>
            <span>&gt;</span>
         </div>
      </div>

  </div>
</div>
