/* Start Variables */

$fontFamily: "proxima-nova", sans-serif;
$fontSize: 14px;

// Main Colors

$green: #37b148;
$blue: #2399f2;
$red: #ff4b64;
$text: #333c48;
$textL: #7f8fa4;
$textD: #354052;
$dark: #273142;
$border: #e7e9ed;
$divider: #ebebeb;
$disabled: #dfe1e5;

/* End Variables */
